
  <section id="table-section">
    <table border="1" style="border-collapse: collapse; text-align: center">
      <thead>
        <tr>
          <th colspan="2">Stats at a Glance</th>
        </tr>
      </thead>
      <tbody>
      <% @stats.each do |key, value| %>
        <tr>
          <td><strong><%= key %>:</strong></td>
          <td><%= value %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

  <section>
    <h3>Bonjour!</h3>
    <p>
      My name is Jenna Nichols, and I'm a current student at <a href="http://www.adadevelopersacademy.org">Ada Developers Academy</a>.
    </p>

    <p>
      This is my family! My husband is Eric, and our cats are Bella and Luna. Bella's the one sleeping on top of her face :3
    </p>

    <img class="main-images" src="jennaeric.jpg" height="30%" width="30%"/>
    <img class="main-images" src= "lunabella.jpg" height="25%" width="25%"/>

    <p>
      Here are a few of my favorite things:
      <ul>
        <% @faves.each do |fave| %>
          <li><%= fave %></li>
        <% end %>
      </ul>
    </p>
  </section>
