<!DOCTYPE html>
<html>
<head>
  <title>Jenna Nichols: About</title>
  <link rel="shortcut icon" href="http://www.gatorzone.com/favicon.ico">
  <link href="css/main.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Bangers|Lato' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <h1>Jenna Nichols</h1>
    <img id="logo" alt="albert logo" src="albert2.png" height="80px">
    <h2>About</h2>
  </header>

  <section id="table-section">
    <table border="1" style="border-collapse: collapse; text-align: center">
      <thead>
        <tr>
          <th colspan="2">Stats at a Glance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Name:</strong></td>
          <td>Jenna Nichols</td>
        </tr>
        <tr>
          <td><strong>City:</strong></td>
          <td>Seattle, WA</td>
        </tr>
        <tr>
          <td><strong>Age:</strong></td>
          <td>26</td>
        </tr>
        <tr>
          <td><strong>Occupation:</strong></td>
          <td>Coder-in-training!</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3>Bonjour!</h3>
    <p>
      My name is Jenna Nichols, and I'm a current student at <a href="http://www.adadevelopersacademy.org">Ada Developers Academy</a>.
    </p>

    <p>
      This is my family! My husband is Eric, and our cats are Bella and Luna. Bella's the one sleeping on top of her face :3
    </p>

    <img class="main-images" src="jennaeric.jpg" height="30%" width="30%"/>
    <img class="main-images" src= "lunabella.jpg" height="25%" width="25%"/>

    <p>
      Here are a few of my favorite things:
      <ul>
        <li>French, especially Qu&eacute;bec French</li>
        <li>Sociolinguistics</li>
        <li>Elephants</li>
        <li>College football (Go Gators!!)</li>
        <li>Arrested Development</li>
        <li>Board Games</li>
        <li>Karaoke</li>
        <li>My cats Bella and Luna</li>
      </ul>
    </p>
  </section>

  <footer>
    <nav>
      Site links:
      <a class="footer-link" href="index">Home</a> |
      <a class="footer-link" href="about">About</a> |
      <a class="footer-link" href="projects">Projects</a> |
      <a class="footer-link" href="blog">Blog</a>
    </nav>
    <nav>
      Find me on:
      <a class="footer-link" href="http://www.twitter.com/jennaplusplus">Twitter</a> |
      <a class="footer-link" href="http://www.facebook.com/jennanichols">Facebook</a> |
      <a class="footer-link" href="http://www.github.com/jennaplusplus">GitHub</a>
    </nav>
  </footer>

</body>
</html>
