
  <article>
    <h3>Hello, World!</h3>
    <h4>October 26, 2015</h4>
    <p>
      Blogging... I hate blogging... just going to post some song lyrics instead...
    </p>

    <h5><a href="https://www.youtube.com/watch?v=ymei5EA5tz0">Daft Punk - Around the World</a></h5>
    <% 18.times do %>
      <p>
        Around the world, around the world
        <br>Around the world, around the world
        <br>Around the world, around the world
        <br>Around the world, around the world
      </p>
    <% end %>
  </article>
