

  <section id ="main">
    <img src="jennagatorclub.jpg" height="20%" width="20%"/>
    <h3>
      Welcome to my personal web site!
    </h3>
    <h3 id="translation" lang="fr"><em>Bienvenue &agrave; mon site web personnel!</em></h3>
    <p>
      Perhaps you would like to look at some stuff?
    </p>
    <nav>
      <ul>
        <li><a href="about">About</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="blog">Blog</a></li>
      </ul>
    </nav>
  </section>
