  <section>
    <h3>Stroop Test in Ruby</h3>
    <p>
      Recently at <a href="http://www.adadevelopersacademy.org">Ada Developers Academy</a>, our cohort learned about
      <a href="https://rubygems.org/">Ruby Gems</a> like <a href="https://github.com/fazibear/colorize">Colorize</a>.
      I decided to make a <a href="https://en.wikipedia.org/wiki/Stroop_effect">Stroop test</a> that would
      be playable in Ruby!
    </p>

    <p>
      In a Stroop test like the one I made, you have to say the name of the <strong>color</strong>
      that you see, rather than the word. So in the first line below, you would say:
      "pink green pink yellow green pink"! This is really hard on your brain, especially
      when the color of the word conflicts with the word itself. Try to go as fast as you can!
    </p>

    <p>
      Download the playable Stroop test <strong><a href="https://gist.github.com/jennaplusplus/19f1e24003c1aebf316d">here</a>!</strong>
    </p>

    <img src="stroop.png" id="stroop" class="main-images" alt="Stroop Test in action" height="40%" width="40%"/>

  </section>

  <section>
    <h3>French and Linguistics</h3>
    <p>
      Before I decided to become a software developer, I was a PhD Candidate
      in French Linguistics at the University of Texas at Austin. If you're curious
      about what I did there (teaching! research!), check out my CV <a href="JennaNicholsCV2015.pdf">here</a>.
    </p>
  </section>
