/*
 * This is a CSS file.
 * Inside of CSS files comments are started with /* and ended with:
 */

/*
 * Starting with Wave 2 of this project we will be using CSS to style our
 * web pages. You should place all of your styles in this file and then
 * reference it from each of your HTML files.
 */

/*
 * This file is located at "public/main.css" in your project directory.
 * Because it is in the "public" directory, Sinatra knows to make the file
 * accessible to your HTML files when you use the src="path/to/file"
 * attribute on the appropriate tags.
 *
 * For example, to include an image into your site, place the file in the
 * public directory and use <img src="/name_of_image.png"> in your HTML
 * file. The "public" part of the path should *not* be included.
 */

html {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #C1CBE2;
  margin-top: 0px;
  padding-bottom: 60px;
 }

 #main {
  margin-top: -20px;
  padding-top: -10px;
 }

header {
  margin: 0 auto;
  border-radius: 25px;
  width: 100%;
  height: 100px;
  background-color: #0F337A;
}

#logo {
  display: inline-block;
  margin: 10px 15px 0px 0px;
  padding: 0px;
  float: right;

}

h1 {
  display: inline-block;
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 10px;
  color: #ED4A2E;
  font-family: 'Bangers', cursive;
  font-size: 40px;
  letter-spacing: 2px;
}

h2 {
  display: block;
  padding-top: 5px;
  margin-left: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: -30px;
}

h3 {
  padding-left: 10px;
  color: black;
  font-family: 'Lato', sans-serif;
}

h4 {
  padding-left: 10px;
  color: black;
  font-family: 'Lato', sans-serif;
}

h5 {
  padding-left: 10px;
  color: black;
  font-family: 'Lato', sans-serif;
}

#translation {
  margin-top: -15px;
}

img {
  padding-left: 10px;
  padding-top: 50px;
  display: block;
}

.main-images {
  display: inline-block;
  margin-top: -50px;
}

p {
  padding-left: 10px;
  color: black;
  font-family: 'Lato', sans-serif;
}

a {
  color: #0F337A;
  font-family: 'Lato', sans-serif;
}

nav {
  padding-top: 5px;
  padding-left: 10px;
  color: #ED4A2E;
  font-family: 'Lato', sans-serif;
}

ul {
  margin-top: -10px;
  font-family: 'Lato', sans-serif;
}


footer {
  position: relative;
  border-radius: 25px;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #0F337A;
}

table {
  font-family: 'Lato', sans-serif;
}

#table-section {
  padding-top: 15px;
}

.footer-link {
  color: white;
}

#copyright {
  display: inline;
  float: right;
  color: white;
  font-family: 'Lato', sans-serif;
  padding-top: -20px;
  margin-top: -25px;
  margin-right: 15px;
  padding-left: 10px;
}

.other-line {
  margin-top: -16px;
}
